[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-aeld/assignment-autotest.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://git.yoctoproject.org/git/meta-raspberrypi
[submodule "mea-openembedded"]
	path = mea-openembedded
	url = https://git.yoctoproject.org/git/meta-raspberrypi
[submodule "Yocto/Sources/poky"]
	path = Yocto/Sources/poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "Yocto/Sources/meta-raspberrypi"]
	path = Yocto/Sources/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = kirkstone
[submodule "Yocto/Sources/meta-openembedded"]
	path = Yocto/Sources/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = kirkstone
